.login-wrapper {
	margin: 100px;
}
.login-wrapper h1,
.login-wrapper .login-toggle-btn {
	text-align: center;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.ant-layout-header .logo span {
	color: #fff;
}
.ant-layout-header {
	display: flex;
	justify-content: space-between;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 600px) {
	.ant-layout-content {
		padding: 0px !important;
	}
	.dashboard-layout-content {
		background: #fff;
	}
}

@media screen and (min-width: 600px) {
	.dashboard-layout-content {
		min-height: 280px;
		padding: 24px;
		background: #fff;
	}
}

.links-container {
	width: min(70vw, 1000px);
	margin-inline: auto;
}

.links-list-container .ant-list-item {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.ant-list-item {
	box-shadow: 0 2px 6px rgb(0 0 0 / 0.2);
}

.ant-list-item:hover {
	box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);
}

.public-profile-page {
	background: #ececec;
	padding: 24px;
	min-height: 100vh;
}
.public-profile-page .info-container {
	max-width: min(560px, 90vw);

	margin-block: 1rem;
	margin-inline: auto;
}

.public-profile-page .site-card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
